@media (max-width: 767px) {
  .control-nav,
  .browse-nav {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    top: 0;
    display: block;
    padding-left: 3%;
    padding-top: 2%;
    z-index: 3;
  }

  .mobile-menu-container-list li {
    padding: 30px;
  }

  .menu-icon {
    display: inline-block;
    background-image: url(../images/menu-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  .mobile-menu-container {
    max-height: 0;
    overflow: hidden;
    position: relative;
    transition: max-height 0.7s ease-in-out;
  }

  .mobile-menu-container::before {
    content: "";
    background-image:
    linear-gradient(
      0deg, 
      rgba(211,211,211,1) 5%, 
      rgba(235,234,234,1) 53%, 
      rgba(255,255,255,1) 100%
      );
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    border-radius: 10px;
  }

  input:checked ~ .mobile-menu-container {
    max-height: 100vh;
  }

  .intro {
    padding: 0 2%;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container h1 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .info {
    width: 100%;
  }

  .main-program-container {
    grid-template-columns: none;
  }

  .featured-speakers-container {
    grid-template-columns: none;
    grid-template-rows: none;
  }

  .featured-speakers-container article {
    min-width: 310px;
  }

  .f-s-c-image-container {
    min-width: 180px;
  }

  .partners-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .tickets-table {
    display: none;
  }

  .table-mobile {
    display: table;
  }

  .past-editions-img-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .container h1 {
    font-size: 2.5em;
  }

  .container h2 {
    font-size: 1.8em;
  }

  .f-s-c-info p {
    font-size: 0.8em;
  }

  .partners-container {
    grid-template-columns: 1fr;
  }

  .tickets p,
  .tickets-table,
  .gifts-table,
  .gifts p,
  input[type="submit"] {
    font-size: 0.8em;
  }
}
