@media (max-width: 767px) {
/* 
  header {
    background-color: #272a31;
  } */
  .control-nav,
  .browse-nav {
    display: none;
  }

  .mobile-menu {
    position: absolute;
    display: flex;
    top: 0;
    padding-left: 3%;
    /* padding-top: 2%; */
    z-index: 3;
  }

  .mobile-menu-container-list {
    display: flex;
  }

  .mobile-menu-container-list li {
    padding: 30px;
  }

  .menu-icon {
    display: inline-block;
    background-image: url(../images/menu-icon.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 40px;
    height: 40px;
    cursor: pointer;
  }

  #menu-toggle {
    display: none;
  }

  .mobile-menu-container {
    max-width: 0;
    overflow: hidden;
    position: relative;
    transition: max-width 0.5s ease-in-out;
  }

  /* .mobile-menu-container::before {
    content: "";
    background-image:
      linear-gradient(
        0deg,
        rgba(211, 211, 211, 1) 5%,
        rgba(235, 234, 234, 1) 53%,
        rgba(255, 255, 255, 1) 100%
      );
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.8;
    border-radius: 10px;
  } */

  input:checked ~ .mobile-menu-container {
    max-width: 100vw;
  }

  .intro {
    padding: 0 2%;
  }

  .main-program-container article {
    display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    text-align: left;
  }

  .main-program-container article > h4 {
    margin-right: 30px;
  }

  .icon-container {
    width: unset;
    text-align: unset;
    margin-right: 30px;
  }

  .container {
    display: flex;
    flex-direction: column;
  }

  .container h1 {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .info {
    width: 100%;
  }

  .main-program-container {
    grid-template-columns: none;
  }

  .featured-speakers-container {
    grid-template-columns: none;
    grid-template-rows: none;
  }

  .featured-speakers-container article {
    min-width: 310px;
  }

  .f-s-c-image-container {
    min-width: 180px;
  }

  .partners-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    justify-items: center;
  }

  .tickets-table {
    display: none;
  }

  .table-mobile {
    display: table;
  }

  .past-editions-img-container {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 500px) {
  .container h1 {
    font-size: 2.5em;
  }

  .container h2 {
    font-size: 1.8em;
  }

  .main-program-container article {
    display: flex;
    text-align: center;
  }

  .main-program-container article > h4,
  .icon-container {
    margin-right: 0;
  }

  .f-s-c-info p {
    font-size: 0.8em;
  }

  .partners-container {
    grid-template-columns: 1fr;
  }

  .tickets p,
  .tickets-table,
  .gifts-table,
  .gifts p,
  input[type="submit"] {
    font-size: 0.8em;
  }
}
