/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  --header-top-color: #272a31;
  --header-bottom-color: #fff;
  --light-font-color: #d3d3d3; 
  --highlight-color: #ec5242;
  font-family: 'Lato', sans-serif;
  color: var(--header-top-color);
  font-size: 16px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* END CSS RESET */

@font-face {
  font-family: 'Cocogoose Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/Cocogoose_trial'), url('../fonts/Cocogoose_trial.otf') format('woff');
  }

  .d-flex {
    display: flex;
  }

  .f-justify-cont-end {
    justify-content: flex-end;
  }

  .f-justify-cont-center {
    justify-content: center;
  }

  .f-justify-cont-between {
    justify-content: space-between;
  }

  .f-align-items-center {
    align-items: center;
  }

  .d-grid {
    display: grid;
  }

  .font-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  .font-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .font-cocogoose {
    font-family: 'Cocogoose Pro Regular';
  }

  h1 {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 10px;
    font-family: 'Cocogoose Pro Regular';
    color: var(--highlight-color);
  }

  h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .control-nav, .browse-nav, .intro, .main-program, .featured-speakers, .partners {
    padding: 0 200px;
  }

  .control-nav {
    background-color: var(--header-top-color);
    color: var(--header-bottom-color);
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .browse-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--header-top-color);
  }

  .browse-nav ul>li {
    padding-left: 65px;
  }

  .social-icons {
    margin-right: 15px;
  }

  .control-links li {
    padding-left: 20px;

  }

  .fa-facebook-f {
    padding-right: 20px;
  }

  .conference-logo {
    width: 120px;
  }

  .intro {
   
    position: relative;
    
  }

  .intro::after {
    content: "";
    background-color: cadetblue;
    background-image: url(../images/run.gif);
    background-repeat: no-repeat;
    background-position: 70% 60%;
    background-size: 100px 100px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0.4; 
  }
  

  .intro::before {
    content: "";
    background-color: #21d4fd;
    background-image:  url(../images/02.png),
    url(../images/04.png),
    url(../images/06.png),
    linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(45,65,253,1) 100%);
    background-repeat:repeat;
    background-position: 100% 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    opacity: 0.2;
    animation: anim 80s linear infinite;
  }

  @keyframes anim {
    100% {
      background-position: -450vw 0,
                            -500vw 0,
                            -300vw 0;
    }
  }

  .greeting {
    color: var(--highlight-color);
  }

  .container {
    padding-top: 100px;
    padding-bottom: 180px;
  }

  .info {
    border: 1px solid white;
    padding: 30px;
    width: 60%;
    margin-bottom: 35px;
  }