/* CSS RESET */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  --header-top-color: #272a31;
  --header-bottom-color: #fff;
  --light-font-color: #d3d3d3; 
  --highlight-color: #ec5242;
  font-family: 'Lato', sans-serif;
  color: var(--header-top-color);
  font-size: 16px;
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* END CSS RESET */

@font-face {
  font-family: 'Cocogoose Pro Regular';
  font-style: normal;
  font-weight: normal;
  src: local('/fonts/Cocogoose_trial'), url('/fonts/Cocogoose_trial.otf') format('woff');
  }

  .d-flex {
    display: flex;
  }

  .f-justify-cont-end {
    justify-content: flex-end;
  }

  .f-justify-cont-center {
    justify-content: center;
  }

  .f-justify-cont-between {
    justify-content: space-between;
  }

  .f-align-items-center {
    align-items: center;
  }

  .d-grid {
    display: grid;
  }

  .font-lato-regular {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
  }

  .font-lato-bold {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
  }

  .font-cocogoose {
    font-family: 'Cocogoose Pro Regular';
  }

  h1 {
    font-size: 4em;
    line-height: 1;
    margin-bottom: 10px;
    font-family: 'Cocogoose Pro Regular';
    color: var(--highlight-color);
  }

  h2 {
    font-size: 2.5em;
    font-weight: 500;
    margin-bottom: 10px;
  }

  .control-nav, .browse-nav, .intro, .main-program, .featured-speakers, .partners {
    padding: 0 200px;
  }

  .control-nav {
    background-color: var(--header-top-color);
    color: var(--header-bottom-color);
    padding-bottom: 10px;
    padding-top: 10px;
  }

  .browse-nav {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--header-top-color);
  }

  .browse-nav ul>li {
    padding-left: 65px;
  }

  .social-icons {
    margin-right: 15px;
  }

  .control-links li {
    padding-left: 20px;

  }

  .fa-facebook-f {
    padding-right: 20px;
  }

  .conference-logo {
    width: 120px;
  }

  .intro {
    background-color: rgb(247, 236, 236);
  }

  .greeting {
    color: var(--highlight-color);
  }

  .container {
    padding-top: 100px;
    padding-bottom: 180px;
  }

  .info {
    border: 1px solid white;
    padding: 30px;
    width: 60%;
    margin-bottom: 35px;
  }